'atom-workspace':
  'alt-l': 'linter-bundle:toggle-focus'

'atom-text-editor:not([mini])':
  'alt-;': 'linter-bundle:previous'
  "alt-'": 'linter-bundle:next'

'.linter-wrapper':
  'up': 'core:move-up'
  'down': 'core:move-down'
  'enter': 'core:confirm'
  'escape': 'core:cancel'
